<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring5_mybatis_study.mapper.CourseMapper">
	<resultMap type="Course" id="ResCourse">
		<id property="courseId" column="course_id"/>
		<result property="name" column="name"/>
		<result property="description" column="description"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
	</resultMap>
	
	<sql id="selectSQL">
		select course_id, name, description, start_date, end_date, tutor_id
		  from courses
	</sql>
	
	<sql id="whereSQL">
		<where>
			<if test="tutorId != null">
				AND tutor_id = #{tutorId} <!-- mybatis가 and나 or같은 것도 알아서 상황 맞춰서 생략해서 가져옴 -->
			</if>
			<if test="courseName != null">
				AND name like #{courseName}
			</if>
			<if test="startDate != null">
				AND start_date &gt;= #{startDate}
			</if>
			<if test="endDate != null">
				AND end_date &lt;= #{endDate}
			</if>
		</where>
	</sql>

	<sql id="whereSQLWithCDATA">
		<where>
			<if test="tutorId != null">
				<![CDATA[ AND tutor_id = #{tutorId} ]]>
			</if>
			<if test="courseName != null">
				<![CDATA[ AND name like #{courseName} ]]>
			</if>
			<if test="startDate != null">
				<![CDATA[ AND start_date >= #{startDate} ]]>
			</if>
			<if test="endDate != null">
				<![CDATA[ AND end_date <= #{endDate} ]]>
			</if>
		</where>
	</sql>	
	
	<select id="selectCoursesByCondition" parameterType="map" resultMap="ResCourse">
		<include refid="selectSQL"/>
		<include refid="whereSQL"/>
	</select>
	
												<!-- 이번에는 resultType Course로 해보기  -->
	<select id="selectCaseCourses" parameterType="map" resultType="Course">
		<include refid="selectSQL"/>
		<choose>
			<when test="searchBy == 'Tutor'">
				where tutor_id = #{tutorId}
			</when>
			<when test="searchBy == 'CourseName'">
				where name like #{courseName}
			</when>
			<otherwise>
				where end_date &gt; = now();
			</otherwise>
		</choose>
	</select>
	
	<select id="selectWhereCourses" parameterType="map" resultType="Course">
		<include refid="selectSQL"/>
		<include refid="whereSQLWithCDATA"/>
	</select>
</mapper>

























